/* *Website Styles */

* {
  /* font-size: 100%; */
  /* border: 1px solid red; */
}

*{
  /* font-size: 100%; */
  /* margin: 0; */
  /* line-height: 1; */
}
body {
    /* background-color: skyblue; */
    /* color: black; */
    background-image: url("images/fishes.JPG");  /*The image used*/
    background-position:center;  /*center the image */
    height: 600px; /*You must set a specified height */
    background-repeat: once; /*do not repeat the image*/
    background-size: cover; /*Resize the background image to cover the entire container*/
    font-family: 'Lobster''Trade Winds', arial;
    font-size: 22px;
    line-height: 2;
    margin: 50px;
}

h1 {
  color: red;
  font-style: bold;
  font-size: 50px;
}

h2 {
  color: red;
  font-style: bold;
  font-size: 50px;
  text-align: center;
  padding: 50px;

}

h3 {
  color: red;
  font-style: bold;
  font-size: 50px;
  text-align: center;
  padding: 100px;
}

h1, h2, h3, h4 {
    /* font-weight: 100; */
    margin-bottom: 20px;
}

header h2 {
    /* text-align: right; */
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a: visited {
  color: red;
}

img {
  margin: 50px;
  border: 3px solid black;

}
.subtitle {
  font-size: 48px;
  line-height: 1;
  color: red;
  margin: 15px 0;
  padding: 30px;
}

ul, ol {
  margin: 15px 0;
}

/* header, */
/* section, */
/* footer { */
  /* padding: 30px; */
}

h1 {
  /* border-bottom: 1 px solid black; */
}

section {
  /* border: 1 px dashed red; */
}

header {
  Border-bottom: 5px solid grey;
}

section {
  /* border: 1px solid gainsboro; */
  /* background-color: white; */
  /* margin: 30px; */
  /* padding: 30px; */
}

section {
      /* color: white; */
      /* width: 50%; */
      /* height: 50%; */
      /* line-height: 4; */
    }
img {
  width: 250px;
  height: 200px;
}

* {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

.title {
  font-size: 48px;
  text-decoration: underline;
}

.container {
  max-width: 30%;
  margin: 0 auto;
}

.container2 {
  max-width: 30%;
  margin: 0 auto;
}

/* .right { */
  /* float: right; */
}

/* .banner { */
  /* height: 250px; */
  /* background-image: url("images/banner.jpg"); */
  /* background-size: cover; */
  /* background-position: center; */
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
​
/* Create two equal columns that sits next to each other */
.column {
  flex: 48%;
  padding: 10px;
  /* border: 1px solid; */
}
​
.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.float-image {
  float: left;
  margin-right: 15px;
  margin-bottom:15px;
}

.subtitle1 {
  font-size: 24px;
  line-height: 2;
  color: red;
  margin: 15px 0;
  padding: 60px;
}

.imgsafety img {
  width: 250px;
  height: 250px;
}
