body {
    background-image: url("images/fishes.jpg");  /*The image used*/
    background-position:center;  /*center the image */
    height: 600px; /*You must set a specified height */
    background-repeat: once; /*do not repeat the image*/
    background-size: cover; /*Resize the background image to cover the entire container*/
    font-family: 'Lobster''Trade Winds', arial;
    font-size: 22px;
    line-height: 2;
    margin: 50px;
}

h1 {
  color: red;
  font-style: bold;
  font-size: 200px;
  text-align: center;
}

h2 {
  color: red;
  font-style: bold;
  font-size: 50px;
  text-align: center;
  padding: 25px;

}

h3 {
  color: red;
  font-style: bold;
  font-size: 50px;
  text-align: center;
  padding: 25px;
}

img {
  margin: 50px;
  border: 3px solid black;

}
.subtitle {
  font-size: 24px;
  line-height: 1;
  color: red;
  margin: 15px 0;
  padding: 0px;
}

.subtitle1 {
  font-size: 24px;
  line-height: 2;
  color: red;
  margin: 15px 0;
  padding: 60px;
}

header {
  /* Border-bottom: 5px solid grey; */
}

.p {
  line-height: 1px;
}

section{
  font-size: 24px;
  line-height: 1;
  color: red;
}

img {
  width: 250px;
  height: 200px;
}

.title {
  font-size: 100px;
  text-decoration: underline;
  line-height: 0;
}

.container {
  max-width: 30%;
  margin: 0 auto;
}

.container2 {
  max-width: 30%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
​
/* Create two equal columns that sits next to each other */
.column {
  flex: 48%;
  padding: 10px;
  /* border: 1px solid; */
}
​
.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.float-image {
  float: left;
  margin-right: 15px;
  margin-bottom:15px;
}

.imgsafety img {
  width: 250px;
  height: 250px;
}
